@import "common"

$documentFont: "Helvetica", "Arial", sans-serif

=Unselectable
	user-select: none
	-ms-user-select: none
	-moz-user-select: none
	-webkit-user-select: none

*
	padding: 0
	margin: 0
	border: 0
	outline: 0
	vertical-align: baseline

.mainContentWidth
	max-width: 11in
	margin-left: auto
	margin-right: auto

.docContentWidth
	max-width: 8.5in
	margin-left: auto
	margin-right: auto

html, body, #page_root
	height: 100%

main
	min-height: 100%
	width: 100%

body
	background-color: $antiflashwhite
	font-family: $documentFont

.errorMessage
	width: calc(100%)
	background: #FF000044
	padding: 0.25em 0.5em 0.25em
	border-top: 1px solid darkred
	border-bottom: 1px solid darkred
	font-weight: bold
	color: white

	a
		color: white
		text-decoration: underline
		&:hover
			text-decoration: none

	.removeError
		float: right
		color: #E7E7E7
		&:hover
			color: white
			cursor: pointer

#documentHeader
	background: #FAFAFA
	min-width: 8.5in
	max-width: 100%
	margin: 0
	position: sticky
	z-index: 2
	top: 0

	h1
		margin-left: 0.25in
		margin-right: 0.25in
		padding-top: 0.25em
		padding-bottom: 0.25em

	h1.empty
		color: $emptyTextColor

	#readOnlyMessage
		color: gray
		font-size: 10pt
		font-weight: normal
		margin-left: 2ch
		#copyDocument
			text-decoration: underline
			&:hover
				text-decoration: none
	
	#documentMenu
		padding-left: 0.25in
		padding-right: 0.25in
		border-top: 1px solid lightgray
		border-bottom: 1px solid gray

		.menuItem
			display: inline-block
			vertical-align: top
			position: relative
			padding-left: 1.5ch
			padding-right: 1.5ch
			line-height: 2em

			ul
				visibility: hidden
				position: absolute
				width: auto
				white-space: nowrap
				z-index: 1
				left: 0
				background: #FAFAFA
				border: 1px solid gray
				border-top: none
				border-bottom-left-radius: 2px
				border-bottom-right-radius: 2px

				opacity: 0
				transition: opacity 0.1s ease-in

				#exit .material-icons
					color: #C00

				#exit:hover
					background: #FEE

				#copyDocument .material-icons
					color: lightblue

				#rename .material-icons
					color: slateblue

				#saveIcon .material-icons
					color: green

				#addChild .material-icons
					color: #00F

				#addSibling .material-icons
					color: #0C0

				#removeItem .material-icons
					color: red

				#indentItem .material-icons, #unindentItem .material-icons
					color: navy

				#collapse .material-icons
					color: darkgray

				#removeItem:hover
					background: #FEE

				#selectNext .material-icons, #selectPrev .material-icons
					color: blue

				#multiSelect .material-icons
					color: gold

				#undo .material-icons, #redo .material-icons
					color: teal

				#cut .material-icons, #copy .material-icons, #paste .material-icons
					color: rebeccapurple

				#embolden .material-icons
					font-weight: bold

				#italicize .material-icons
					font-weight: normal
					font-style: italic

				#addURL .material-icons
					color: #0AC

				#addImage .material-icons
					color: skyblue

				li
					list-style: none
					position: relative
					padding-right: 1ch
					padding-top: 0.25em
					padding-bottom: 0.25em
					height: 2em
					line-height: 2em

					+Unselectable

					&:not(:last-child)
						border-bottom: 1px solid lightgray

					.material-icons
						width: 2ch
						text-align: center
						font-size: 14pt
						font-weight: bold
						vertical-align: middle
						margin-bottom: 2pt

					.shortcut
						font-size: 8pt
						color: darkgray
						margin-left: 1ch

				.ddMenuItemDisabled
					color: darkgray !important
					.material-icons
						color: darkgray !important
					&:hover
						background: transparent !important

				li:hover
					background: #EEE

			&:hover
				text-decoration: underline
				background: #EEE
				ul
					visibility: visible
					opacity: 1

#documentScrollContainer
	height: 100%

#loadingDocument
	display: table
	margin: 0 auto
	text-align: center

#document
	width: 8.5in
	margin-top: 0
	margin-left: auto
	margin-right: auto
	background-color: #FAFAFA
	box-shadow: 0px 5px 5px #CCC
	padding: 0.5in
	padding-left: 0.25in
	padding-top: 0.25in