@import "common"

*
	padding: 0
	margin: 0
	border: 0
	outline: 0
	vertical-align: baseline

html, body
	height: 100%

body
	font-family: "Helvetica", "Arial", sans-serif
	background: $antiflashwhite

.heightTransition
	transition: all 0.4s ease-in-out
	overflow: hidden

.flexibleContentWidth
	margin-left: 0.5in
	margin-right: 0.5in

.mainContentWidth
	max-width: 11in
	margin-left: auto
	margin-right: auto

.docContentWidth
	max-width: 8.5in
	margin-left: auto
	margin-right: auto

.errorMessage
	background: #FF000044
	padding: 0.25em 0.5em 0.25em
	margin: 0.25em 0 0.25em
	border: 1px solid darkred
	border-radius: 3px
	font-weight: bold
	color: white

	.removeError
		float: right
		color: #E7E7E7
		&:hover
			color: white
			cursor: pointer

header
	background: $aurometalsaurus
	color: white

	.headerContent
		padding-top: 0.3em
		padding-bottom: 0.5em

	.flexHeader
		display: flex
		align-items: center
		height: 1.5em

	#logo_bullet
		color: lightgray

	#headerLogin
		float: right

	h3
		img.mini_logo
			height: 1em
			width: 1em
			margin-bottom: -0.2em
			display: inline-block
			vertical-align: center
 	
		a
			color: white
			text-decoration: none

	h4
		text-align: right
		float: right
		flex: 1

	#userSettingsIcon
		.material-icons
			vertical-align: bottom
		margin-right: 0.5ch
		color: lightgray
	
	#userSettingsIconActive
		.material-icons
			vertical-align: bottom
		margin-right: 0.5ch
		color: cyan

	h2
		margin-top: 1em
		margin-bottom: 0.5em
		text-align: center
		font-size: 36pt
		font-weight: lighter
		font-family: Georgia, 'Times New Roman', Times, serif

	img.demo
		display: block
		margin-left: auto
		margin-right: auto
		margin-top: 1em
		margin-bottom: 1em
		width: 4.5in
		box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1)

	p
		text-align: center
		color: $antiflashwhite

=caption
	font-size: 11pt
	color: $spanishgray

	a
		color: inherit
		&:hover
			text-decoration: none

.caption
	+caption

.headerCaption
	+caption
	color: lightgray

footer
	max-width: 11in
	margin-left: auto
	margin-right: auto

	+caption

	border-top: 1px solid $spanishgray
	padding-top: 1em

	p
		margin-left: 4ch

nav
	background: rgba(107, 127, 130, 0.3)

nav li
	display: inline-block
	list-style-type: none
	margin-left: 2em
	margin-right: 2em
	margin-top: 1em
	margin-bottom: 1em

main
	padding-top: 0.5in
	padding-bottom: 0.5in
	color: $onyx

#msg404
	text-align: center

	h2
		color: $aurometalsaurus
		font-weight: lighter
		font-size: 36pt
		font-family: Georgia, 'Times New Roman', Times, serif
		margin-bottom: 0.5em

	h3
		color: $aurometalsaurus

	a
		color: inherit
		text-decoration: underline
		&:hover
			text-decoration: none
