@import "common"

.settingsInvisible
	max-height: 0
	border-width: 0px !important

.settingsVisible
	border-top: 1px solid $antiflashwhite
	max-height: 3in

#settings
	border-top-width: 1px
	border-top-color: $antiflashwhite
	border-top-style: solid

	#logoutLink
		color: $antiflashwhite
		text-decoration: underline
		float: right
		margin-bottom: 1em
		&:hover
			text-decoration: none

	h4
		display: block
		text-align: left
		float: unset
		flex: none
		margin-top: 1em
		margin-bottom: 0.5em

	.loginMethodName
		display: inline-block
		text-align: center
		margin-bottom: 0.5em
		margin-right: 1ch
		padding: .1em
		width: 12ch
		border: 1px solid
		border-radius: 5px

	.loginMethodLink
		text-decoration: none
		font-size: 11pt
		color: lightgray
		&:hover
			text-decoration: underline

	#loginMethod_twitter
		background-color: #0084B477
		border-color: #0084B4
	
	#loginMethod_facebook
		background-color: #3B599877
		border-color: #3B5998
	
	#loginMethod_google
		background-color: #DD4B3977
		border-color: #DD4B39

	#userSettings
		margin: 1em 0 1em
		min-width: 6in
		float: right
		text-align: left

		input
			padding: 0 1ch 0
			margin-right: 1ch

	.settingIcons
		width: .5in
		text-align: right
		display: inline-block
		line-height: 1
		padding: 0 .5ch 0

		.settingConfirm
			border: 1px solid #AFA
			border-radius: 5px
			padding: 0 .25ch 0
			color: #AFA
			margin-right: 0.5ch
			&:hover
				background-color: #AFA5

		.settingReject
			border: 1px solid #FAA
			border-radius: 5px
			padding: 0 .25ch 0
			color: #FAA
			margin-right: 0.5ch
			&:hover
				background-color: #FAA5

		.settingSaved
			border: 1px solid #AFA
			border-radius: 5px
			padding: 0 .25ch 0
			color: #AFA

		.sk-fading-circle .sk-circle::before
			background-color: lightgray
